@import "../../vars.css";

.container {
  background: linear-gradient(#608192, 40%, #263B46);
  padding-top: 7%;
  padding-bottom: 6%;
}

.title {
    color: #FFF;
    font-family: 'hpunk', sans-serif;
    font-size: 90px;
    text-align: center;
    padding-bottom:100px; 
}

.description {
  color: #FFF;
  padding: 20px 10% 0px 10%;
  font-size: 22px;
  text-align: center;
}


.categoryFilter {
  margin-bottom: 20px;
  display: flex;
  flex-direction : row;
  justify-content: center;
  margin-top:100px;
  z-index:80;
  gap:20px;
}

.categoryFilter button {
  margin-right: 10px;
  padding: 20px 40px;
  font-size:20px;
  border: none;
  background-color: #FFE8D7;
  cursor: pointer;
  z-index:80;
  border-radius: 5px;
  color: #263B46;
}

.categoryFilter .activeCategory {
  background-color: #ED5F9A;
  color: #FFE8D7;
}


  
.projects {
  padding: 100px 5% 0px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  z-index:80;
}

.project {
  position: relative;
  text-align: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 130px 180px;
  margin: 10px 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 400px;
  overflow: hidden;
  z-index:80;
}


.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition:  0.3s ease-in-out;
  z-index: 1; /* Assurez-vous que le filtre est sous le titre */
}

.projectTitle {
  position: absolute;
  color: #263B46;
  top: 50%;
  left: 50%;
  font-weight: 700;
  transform: translate(-50%, -50%);
  font-size: 28px;
  z-index: 2; /* Assurez-vous que le titre est au-dessus du filtre */
  opacity: 0; /* Le texte est caché par défaut */
  transition: opacity 0.3s ease-in-out;
}

.projectTitle2 {
  position: absolute;
  color: #263B46;
  top: 75%;
  left: 50%;
  font-style: italic;
  font-weight: 300;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 2; /* Assurez-vous que le titre est au-dessus du filtre */
  opacity: 0; /* Le texte est caché par défaut */
  transition: opacity 0.3s ease-in-out;
}

.project:hover::after {
  background: rgba(250, 250, 250, 0.9); /* Filtre sombre lors du survol */
}

.project:hover .projectTitle {
  opacity: 1; /* Afficher le texte lors du survol */
}

.project:hover .projectTitle2 {
  opacity: 1; /* Afficher le texte lors du survol */
}

.project:hover {
  transform: scale(0.95);
}



  
.tortue4 {
  position: absolute;
  z-index:auto;
  margin-top: -650px; 
  left: -350px;
  animation-name: test;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@keyframes test {
  0% {
    transform: translate(0, 30px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 30px);
  }
}

.tortue2 {
  position: absolute;
  z-index:1;
  margin-top: 300px; 
  left: 1100px;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

