@import "../../vars.css";

.container1 {
  background-color: #82A0A8;
}

.backButton {
  margin-left: 2%;
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  border: none;
  background: none;
  cursor: pointer;

  .icon {
    font-size: 30px;
    margin-right: 8px;
  }
}

.containertitle {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:150px 15px 150px 15px;

  
  .title {
    font-family: 'hpunk', sans-serif;
    text-align: center;
    padding-bottom:50px; 
    font-size: 140px;
    color: #FFF;
    text-shadow: 13px 11px 2px #5B808A;
    z-index: 6; 
  }

  .title2 {
    text-align: center;
    font-weight:500;
    padding-bottom:50px;
    font-size: 24px;
    color: #FFF;
    z-index: 6; 
  }

  .boutondiscover {
    text-decoration: none;
    color: #263B46;
    font-size: 60px;
    cursor: pointer;
    border: none;
    background: none;
  }

}

.container2  {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #FFE8D7;
  padding:5.5% 0 8.5% 0;

  swiper-container {
    width: 90%;
    height: 100%;

    .containeretape {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 1;
      

    > img {
        width: 60%;
        border-radius:5px;
        padding-bottom:5%;
      }
    
      .containertexte {
        width:90%;
        margin:50px;
        z-index: auto;

        .soustitle {
          font-family: 'hpunk', sans-serif;
          text-align: center;
          padding-bottom:50px; 
          font-size: 36px;
          letter-spacing:3px;
          color: #A08A7A;
        }
        
        .description {
          color: #A08A7A;
          font-size: 20px;
          text-align: justify;
          line-height: 30px;
          text-align: center;
        }
        
      }
    }
  }
}

.container3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
}


.containeroutils {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  z-index: auto;
  margin:10%;

  .soustitle {
    font-family: 'hpunk', sans-serif;
    text-align: center;
    padding-bottom:50px; 
    font-size: 40px;
    color: #FFF;
  }
}










/* .tortue4 {
  position: absolute;
  z-index: auto;
  width:20%;
  margin-top: 140px; 
  left: 20px;
  animation-name: test;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes test {
  0% {
    transform: translate(0, 30px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 30px);
  }
}

.tortue2 {
  position: absolute;
  z-index: 1;
  width:10%;
  margin-top: 800px; 
  left: 1400px;
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0px);
  }
} */



.containertexte2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width:100%;
  padding-top:100px;
  padding-bottom:100px;
  z-index: auto;
}
